<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ControlledDrugReportGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <ControlledDrugReportGenerator.Properties.Settings>
            <setting name="Interval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value>I:\Work\Regain\report\管制藥使用紀錄表</value>
            </setting>
            <setting name="SourcePath" serializeAs="String">
                <value>I:\Work\Regain\source</value>
            </setting>
            <setting name="StationFileName" serializeAs="String">
                <value>非注射用1-3級管制藥品</value>
            </setting>
            <setting name="OrderFileName" serializeAs="String">
                <value>所有醫囑</value>
            </setting>
            <setting name="ActivePrinter" serializeAs="String">
                <value>HP ENVY 4500 Series Class Driver</value>
            </setting>
        </ControlledDrugReportGenerator.Properties.Settings>
    </applicationSettings>
</configuration>